@tailwind base;
@tailwind components;

/* Set root font size*/
:root {
    font-size: 14px;
    background-color: theme('colors.charlestoneGreen');
    color: theme('colors.white');
    /* Custom variables */
    --pomegranate: #C0392B;
    --white: #fff;
    --silver: #D6D8DA;
    --Nephritis: #1B8B4B;

    /* Toastify Variables */
    --toastify-color-error: var(--pomegranate) !important;
    --toastify-icon-color-error: var(--white) !important;
    --toastify-text-color-error: var(--white) !important;
    --toastify-font-family: 'Schibsted Grotesk', sans-serif !important;
    --toastify-color-success: var(--Nephritis) !important;
    --toastify-icon-color-success: var(--white) !important;
    --toastify-text-color-success: var(--white) !important;
}

/* Font definitions */
@layer base {
    @font-face {
        font-family: 'Schibsted Grotesk';
        font-weight: 400;
        src: url(/fonts/SchibstedGrotesk-Regular.ttf);
    }

    @font-face {
        font-family: 'Schibsted Grotesk';
        font-weight: 500;
        src: url(/fonts/SchibstedGrotesk-Medium.ttf);
    }

    @font-face {
        font-family: 'Schibsted Grotesk';
        font-weight: 700;
        src: url(/fonts/SchibstedGrotesk-SemiBold.ttf);
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: silver;
    outline: 1px solid slategrey;
    border-radius: 0.25rem;
}

/* Animation classes */
@keyframes translateYDown {
    from {
        transform: translateY(-4rem);
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes translateYUp {
    from {
        transform: translateY(0);
        visibility: hidden;
    }

    to {
        transform: translateY(-4rem);
        visibility: visible;
    }
}

@media (max-width: 481px) {
    .animate-y-down {
        animation: translateYUp 0.15s ease-in-out;
    }

    .animate-y-up {
        animation: translateYDown 0.15s ease-in-out;
    }
}

/* Toastify classes */
.Toastify__toast--error {
    background-color: var(--pomegranate) !important;
    color: var(--white) !important;
}

.Toastify__toast--success {
    background-color: var(--Nephritis) !important;
    color: var(--white) !important;
}

.Toastify__close-button {
    color: var(--silver) !important;
}

.Toastify__close-button--light {
    opacity: 1 !important;
}

/* Component classes */
/* input[type="radio"] {
    display: none;
} */

input:invalid {
    outline: none;
}