@tailwind base;
@tailwind components;

/* Set root font size*/
html{
    font-size: 14px;
}

@layer base {
    @font-face {
        font-family: 'Schibsted Grotesk';
        font-weight: 400;
        src: url(/fonts/SchibstedGrotesk-Regular.ttf);
    }

    @font-face {
        font-family: 'Schibsted Grotesk';
        font-weight: 500;
        src: url(/fonts/SchibstedGrotesk-Medium.ttf);
    }

    @font-face {
        font-family: 'Schibsted Grotesk';
        font-weight: 700;
        src: url(/fonts/SchibstedGrotesk-SemiBold.ttf);
    }
}

html {
    background-color: theme('colors.charlestoneGreen');
    color: theme('colors.white');
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: silver;
    outline: 1px solid slategrey;
    border-radius: 0.25rem;
}

/* Animation classes */
@keyframes translateYDown {
    from {
        transform: translateY(-4rem);
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        visibility: visible;
    }
}

@keyframes translateYUp {
    from {
        transform: translateY(0);
        visibility: hidden;
    }

    to {
        transform: translateY(-4rem);
        visibility: visible;
    }
}

@media (max-width: 481px) {
    .animate-y-down {
        animation: translateYUp 0.15s ease-in-out;
    }

    .animate-y-up {
        animation: translateYDown 0.15s ease-in-out;
    }
}